body {
	font-family: Helvetica;
	color: white;
	background-color: #00c44e;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	margin-top: 10px;
	text-align: center;
}